<div class="container">

  <div class="lead well">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="<%= @question.gravatar %>" alt="...">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading"><%= @question.email %> asked</h4>
        <div><small><%= time_ago_in_words @question.created_at %> ago</small></div>
        <%= @question.body %>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">

      <div>
        <a href="#" class="btn btn-success" data-toggle="modal" data-target="#new-answer-modal">New answer</a>
      </div>

      <%= render "home/new_answer_form" %>

      <% @answers.each do |answer| %>
      <div class="media">
        <div class="media-left">
          <a href="#">
            <img class="media-object" src="<%= answer.gravatar %>" alt="...">
          </a>
        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= answer.email %> answered</h4>
          <div><small><%= time_ago_in_words answer.created_at %> ago</small></div>
          <%= answer.body %>
        </div>
      </div>
      <% end %>
      <% if @answers.empty? %>
        <div class="alert alert-info">You have no answers!</div>
      <% end %>
    </div>
  </div>
</div>
